extends layout

block content
  div(class="content")
   main(class="cd-main")
    ul(class="cd-gallery")
     li(class="cd-item")
      a(href="item-1.html")
       div
        h2 Title 1
        p Lorem ipsum dolor sit amet, consectetur.
        b View More
     li(class="cd-item")
      a(href="item-2.html")
       div
        h2 Title 2
        p Lorem ipsum dolor sit amet, consectetur.
        b View More
     li(class="cd-item")
      a(href="item-3.html")
       div
        h2 Title 3
        p Lorem ipsum dolor sit amet, consectetur.
        b View More
     li(class="cd-item")
      a(href="item-4.html")
       div
        h2 Title 4
        p Lorem ipsum dolor sit amet, consectetur.
        b View More
   div(class="cd-folding-panel")
    div(class="fold-left")
    div(class="fold-right")
    div(class="cd-fold-content")
    a(class="cd-close",href="#0")